@charset "UTF-8";
.video {
  text-align: center;
  background-image: url(img/Opticos/VideoBG.png);
  color: antiquewhite;
  margin-bottom: 55px;
}

.video .video__Portada .container__Portada .row__Portada .col__Portada .video__Titulo {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  color: rgba(36, 36, 36, 0.945);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.video .video__Portada .container__Portada .row__Portada .col__Portada .video__Titulo .video__Parrafo {
  color: #161513;
}

.video .row .col-12 video {
  width: 85%    !important;
  height: auto   !important;
}

.muestras__titulo {
  padding: 0px;
  margin-top: 25px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgba(36, 36, 36, 0.945);
  margin-bottom: 20px;
}

.muestras__parrafo {
  padding: 3px;
  margin-top: 25px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: rgba(36, 36, 36, 0.945);
  margin-bottom: 20px;
}

.muestras__logo {
  height: 50px;
  margin-bottom: 35px;
}

.muestras__container {
  padding: 0px;
  margin-top: 30px;
}

.muestras__row--second {
  padding: 10px;
  margin-top: 20px;
}

.muestras__bc {
  border: rgba(58, 57, 57, 0.103) solid 1px;
  margin-bottom: 10px;
}

.muestras__bc:hover {
  -webkit-box-shadow: 3px 3px 5px #999;
          box-shadow: 3px 3px 5px #999;
  background-color: white;
}

.muestras__img {
  width: 100%;
}

.footer__container {
  width: 100%;
  height: 429.562px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  background-color: #212529;
      grid-template-areas: "titulo titulo categorias contacto" "redes redes redes redes" "pie pie pie pie";
}

.footer__container .footer__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__container .footer__titulo .footer__titulo-titulo {
  font-weight: 600;
  margin-top: 50px;
  margin-left: 50px;
  color: #b80505;
  width: 100%;
}

.footer__container .footer__titulo .footer__titulo-texto {
  font-weight: 500;
  color: #929e9e;
  margin-left: 50px;
  text-align: justify;
  margin-right: 50px;
  margin-top: 10px;
  width: 100%;
}

.footer__container .footer__categorias {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: categorias;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__container .footer__categorias .footer__categorias-titulo {
  font-weight: 600;
  margin-top: 50px;
  color: #b80505;
  width: 100%;
  margin-left: 50px;
}

.footer__container .footer__categorias .footer__categorias-ul {
  width: 100%;
  font-weight: 500;
  list-style: none;
  padding: 0px;
  margin-left: 50px;
}

.footer__container .footer__categorias .footer__categorias-ul .footer__categorias-link {
  text-decoration: none;
  color: #929e9e;
}

.footer__container .footer__contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: contacto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
}

.footer__container .footer__contacto .footer__contacto-titulo {
  font-weight: 600;
  margin-top: 50px;
  color: #b80505;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.footer__container .footer__contacto .footer__contacto-texto {
  width: 100%;
  font-weight: 500;
  color: #929e9e;
  list-style: none;
  padding: 0px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer__container .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: redes;
  margin-left: 40px;
}

.footer__container .footer__r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: pie;
  margin-left: 50px;
}

@media only screen and (max-width: 700px) {
  .footer__container {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "titulo titulo" "categorias contacto" "redes redes" "pie pie";
  }
}

.banner__titulo--black {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 2px seashell;
}

.banner__parrafo--black {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 2px seashell;
}

.banner__titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.banner__parrafo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.banner__section {
  margin-top: 50px;
}

.banner__container {
  width: 100%;
  margin-bottom: 35px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 1;
  background-color: white;
}

header .header__logo {
  width: 150px;
}

header .nav__ul .nav__li .nav__link {
  text-decoration: none;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  -ms-flex-line-pack: center;
      align-content: center;
  color: rgba(12, 12, 12, 0.774);
  font-size: large;
}

header .nav__ul .nav__li .nav__link:visited {
  color: rgba(12, 12, 12, 0.774);
}

.header__containerFluid {
  -webkit-box-shadow: 3px 3px 5px #999;
          box-shadow: 3px 3px 5px #999;
}

.container-fluid {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: darkslategrey;
}

.acceso:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.campaña {
  width: 90%, auto;
}

.sol__col {
  padding: 5px;
  margin: 0 !important;
}

#sol__Galeria img {
  width: 100%;
}

.sol__container .sol__encabezado .sol__h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0%;
}

.sol__container .sol__encabezado .sol__p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.sol__container .sol__creativo .sol__h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 90px;
}

.sol__container .sol__creativo .sol__h6 {
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  margin-bottom: 90px;
  text-align: justify;
}

.sol__img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.sol__form {
  height: 90%;
  width: 90%;
  margin: 40px;
  padding: 10px;
  border: solid;
  border-color: rgba(128, 128, 128, 0.322);
}

.sol__modal-img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.sol__principal .sol__h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0%;
  margin-top: 50px;
}

.sol__principal .sol__p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.sol__carousel {
  margin: 20px;
  margin-bottom: 50px;
}

.opticos__h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 50px;
}

.opticos__h3 {
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
  font-size: large;
}

.col-2 {
  padding: 4px;
}

.opticos__card {
  margin-top: 25px;
  margin: 10px;
  padding: 10px;
  border: none;
}

.opticos__card .opticos__card-titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: xx-large;
  text-align: center;
}

.opticos__card .opticos__card-texto {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: large;
  text-align: center;
}

.opticos__card .opticos__card-p {
  font-family: 'Poppins', sans-serif;
  font-size: small;
  text-align: justify;
  line-height: 2.5em;
}

.opticos__carousel {
  margin: 20px;
  margin-bottom: 50px;
}

.opticos__container .opticos__encabezado .opticos__h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.opticos__container .opticos__encabezado .opticos__p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.opticos__img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.opticos__col {
  padding: 5px;
  margin: 0 !important;
}

#opticos__Galeria img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-content .modalHeader {
  background-color: white;
}

.modal-header {
  background-color: rgba(0, 0, 0, 0.658);
}

.logoModal {
  width: 150px;
}

.flotante {
  position: fixed;
  right: 45px;
  bottom: 35px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

ion-icon {
  color: #c90505;
}

.redes {
  margin-top: 30px;
}

.icon {
  margin: 10px;
}

.modal__form {
  height: 90%;
  width: 90%;
  margin: 40px;
  padding: 10px;
  border: solid;
  border-color: rgba(128, 128, 128, 0.322);
}
/*# sourceMappingURL=estilo.css.map */